{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
{#  <div class="btn"></div>#}
{#  <div class="container class_form bg-gradient bg-warning-subtle w-50 #}
{#    border">#}
    <h1 class="text-3 text-center">Аренда Банного комплекса</h1>
    <div class="row justify-content-center">
  
      <form method="get" action="" style="width: 50%;">
        <div class="form-select-sm">
          <label for="start"><b>Выбрать день</b></label>
          <input type="date" id="start" value="{{ min_day }}" name="date"
                 min="{{ min_day }}"
                 max="{{ max_day }}" class="form-control-sm"
          >
        </div>
        <div style="float: right">
          <button class="btn btn-success" type="submit">Далее</button>
        </div>
      </form>
    </div>
{#  </div>#}
{% endblock %}