{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}
  Корзина
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4 col-xl-4">
      <div class="card w-75 mx-auto text-left border-secondary-subtle">
        <h4 class="card-header bg-success-subtle text-center">
          Ваш заказ.
        </h4>
        <ul class="list-group list-group-flush">
          {% for item in cart %}
            {% if item.quantity %}
              <li class="list-group-item">
                {% if forloop.first %}
                  {{ item.product.name }} - {{ item.quantity }} ч.
                  {{ item.total_price }}
                  р.
                {% else %}
                  {{ item.product.name }} - {{ item.quantity }} шт.
                  {{ item.total_price }}
                  р.
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          <li class="list-group-item text-info">
            Стоимость доп. услуг - {{ cart.get_total_price }}р.
            {{ appointment.items_price }}
          </li>
          <li class="list-group-item text-info">
            Стоимость бани - {{ appointment.price }}р.
          </li>
          <li class="list-group-item text-info">
            Общая стоимость заказа -
            {{ appointment.price|add:cart.get_total_price }}р.
          </li>
        </ul>
        {% include 'includes/order_payment.html' %}
      <a href="{% url 'cart_remove' appointment.pk %}" type="button" 
         class="button 
      text-center 
      text-decoration-none btn">
          <span class="rounded bg-info">
            Удалить допуслуги
          </span>
      </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xl-4">
      
    </div>
  </div>


{% endblock %}