{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}
  Корзина
{% endblock %}
{% block content %}


  <div class="row">
    <div class="col-md-4 col-xl-4">
      <div class="card w-75 mx-auto text-left border-secondary-subtle">
        <h4 class="card-header bg-success-subtle text-center">
          Ваш заказ.
        </h4>


        <ul class="list-group list-group-flush">
          {% for item, value in cart.items %}


              <li class="list-group-item">
                {% if forloop.first %}
                  {{ item }} - {{ value.quantity }} ч. {{ value.price }}р.
                {% else %}
                  {{ item }} - {{ value.quantity }} шт. {{ value.price }}р.

                {% endif %}
              </li>
          {% endfor %}

          <li class="list-group-item">
            Стоимость доп. услуг - {{ cart.1.get_global_price }}р.
          </li>
          <li class="list-group-item text-info">
            Общая стоимость заказа - {{ cart.total_price }}р.
          </li>
        </ul>
        <a href="https://wa.me/79219509028?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B"
           style="text-decoration: 
          #1a1d20" class="text-center">

          <button type="button"
                  class="btn-outline-info btn-link text-center">
            WhatsApp
          </button>
        </a>
        <h6 class="card-footer text-danger">
          Для оплаты заказа, пожалуйста свяжитесь с
          администратором в WhatsApp или по телефону +79219509028
        </h6>


      </div>
    </div>
  </div>











  <div class="bg-white">
    <h1>Вы выбрали услуги:</h1>
    <table class="cart">
      <thead>
      <tr>
        {#            <th>Image</th>#}
        <th>Услуга</th>
        <th>Количество</th>
        <th>Unit price</th>
        <th>Total price</th>
      </tr>
      </thead>
      <tbody>
      {% for item, value in cart.items %}
        {% with product=item.product %}
          <tr>
            <td>{{ item }}</td>
            <td>{{ value.quantity }}</td>
            {#                    <td><a href="{% url "cart:cart_remove" product.id%}">Remove</a></td>#}
            <td class="num">${{ value.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
      </tbody>
    </table>
    <p class="text-right">
      {#        <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>#}
      <a href="#" class="button">Checkout</a>
    </p>
  </div>


{% endblock %}