{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block title %}
  Подтверждение заказа
{% endblock %}
{% block content %}
  <br>
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card w-75 mx-auto text-left border-secondary-subtle">
        <h4 class="card-header bg-success-subtle text-center">
          Вы выбрали посещение бани <br>{{ appointment.date }} <br>
          с {{ appointment.start_time }} до {{ appointment.end_time }}
        </h4>
        <ul class="list-group list-group-flush">
          <img src="{% static 'image/_.jpeg' %}" class="card-img-top"
               alt="ротенбуро">
          {% if not rotenburo %}

            <li class="list-group-item text-center  rounded-1">
              <a href="{% url 'rotenburo_times' appointment.pk %}"
                 class="text-info link-underline">
                Заказать Ротенбуро
              </a>
            </li>

          {% else %}
            <li class="list-group-item text-center text-info rounded-1">
              Ротенбуро с {{ rotenburo.start_time }}
              до {{ rotenburo.end_time }} ({{ rotenburo.price }}р.)
            </li>
          {% endif %}


          {% if not appointment.services_price %}
            <li class="list-group-item text-center rounded-1">
              <a href="{% url 'products' appointment.pk %}"
                 class="text-info link-underline">
                Заказать веники, простыни...
              </a>
            </li>
          {% else %}
            <li class="list-group-item text-center rounded-1 text-info">
              Стоимость доп. услуг {{ appointment.services_price }}р.
            </li>
          {% endif %}

        </ul>
        <a href="{% url 'cart' appointment.pk %}" class="text-center">
          <button class="bg-info "> Оплатить заказ</button>
        </a>
        {#        {% include 'includes/order_payment.html' %}#}
      </div>
    </div>
  </div>
{% endblock %}