{% extends 'base.html' %}
{% block title %}
  Заказ {{ appointment.customer.name }}
{% endblock %}
{% block content %}


  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card w-75 mx-auto text-left border-secondary-subtle">
        <h4 class="card-header bg-success-subtle text-center">
          Ваш заказ.
        </h4>
        {% for item in items %}

          <ul class="list-group list-group-flush">
                      {% if item.rotenburo_1 %}
            <li class="list-group-item">
              Ротенбуро - {{ items.rotenburo }}р.
            </li>
                      {% endif %}
            {% if item.birch_broom %}
              <li class="list-group-item">
                Веник берёза -
                {{ guest.birch_broom }}шт.- {{ object.birch_broom }}руб.
              </li>{% endif %}

            {% if item.oak_broom %}
              <li class="list-group-item">
                Веник дуб - {{ item.oak_broom }}шт.- {{ item.price }}руб.
              </li>
            {% endif %}

            {% if item.bed_sheet %}
              <li class="list-group-item">
                Простыня - {{ guest.bed_sheet }}шт. - {{ object.bed_sheet }}р.
              </li>{% endif %}

            {% if item.towel %}
              <li class="list-group-item">
                Полотенце - {{ guest.towel }}шт.- {{ object.towel }}р.
              </li>{% endif %}

            {% if item.robe %}
              <li class="list-group-item">
                Халат - {{ guest.robe }}шт. - {{ object.robe }}р.
              </li>{% endif %}

            {% if item.slippers %}
              <li class="list-group-item">
                Тапки - {{ guest.slippers }}шт.- {{ object.slippers }}р.
              </li>{% endif %}

            <li class="list-group-item">
              Стоимость доп. услуг - {{ object.total_accessories_price }}р.
            </li>
            <li class="list-group-item text-info">
              Общая стоимость заказа - {{ object.total_price }}р.
            </li>
          </ul>
{#          <a href="https://wa.me/79219509028?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D1%83%D0%B9%D1%82%D0%B5!%20%F0%9F%91%8B"#}
{#             style="text-decoration: #}
{#          #1a1d20" class="text-center">#}
{##}
{#            <button type="button"#}
{#                    class="btn-outline-info btn-link text-center">#}
{#              WhatsApp#}
{#            </button>#}
{#          </a>#}
{#          <h6 class="card-footer text-danger">#}
{#            Для оплаты заказа, пожалуйста свяжитесь с#}
{#            администратором в WhatsApp или по телефону +79219509028#}
{#          </h6>#}

        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}