{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}
  Подтверждение заказа
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card w-75 mx-auto text-left border-secondary-subtle">

        <h4 class="card-header bg-success-subtle text-center">
          Вы выбрали посещение бани {{ appointment.date }}
          с {{ appointment.start_time }} до {{ appointment.end_time }}
        </h4>
        <a href="{% url 'products' %}"
           style="text-decoration: none">
          <div class="card-body text-center bg-body-secondary rounded-1">
            Добавить в заказ Ротенбуро или аксессуары(веники, простыни...)
          </div>
        </a>
        {% include 'includes/order_payment.html' %}
      </div>
    </div>
  </div>


{% endblock %}