{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  <div class="col-md-4">
          {{ customer_form | crispy }}
    {{ services_form| crispy }}
{#    <div class="form-group-row">#}
{#      <label for="name" class=" col-form-label">Имя</label><br>#}
{#      <input type="text" name="name" id="name" class="form-control"#}
{#         value="{{ as }}"    hx-post="{% url 'finish' %}" hx-trigger="click">#}
    </div>
  </form>
{% endblock %}