{% extends 'base.html' %}
{% block title %}
  Список баня
{% endblock %}
{% block content %}
  {% include 'includes/paginator.html' %}
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for object in page_obj %}
      <div class="row">
        <div class="card w-75 mx-5 text-center border-secondary-subtle">
          <a href="{% url 'bnovo:sauna_detail' object.pk %}"
             style="text-decoration: none">
            <h4 class="card-header bg-success-subtle">Баня</h4>
            <h6>{% now "DATE_FORMAT" %}</h6>
          </a>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-success">Баня</li>
            <li class="list-group-item">{{ object }}</li>
            <li class="list-group-item">Начало: {{ object.start }}</li>
            <li class="list-group-item">Конец: {{ object.end }}</li>
            <li class="list-group-item">Дата: 
              {{ object.start|truncatechars:11 }}</li>
          </ul>
        </div>
      </div>
    {% empty %}
      <div class="nav text-center">
        <h2 class="text-bg-info">На {{ today }} на домики ордеров нет</h2>
      </div>
      <br>
    {% endfor %}
  </div>
    <br>
  <div class="container">
      <div class="col-md-1  bg-primary-subtle">
        <a href="{% url 'bnovo:today_list' %}">
          <button type="submit" class="btn btn-outline-info w-100">
            Гости на сегодня
          </button>
        </a>
      </div>
    </div>
  <br>
  {% if user.is_admin or user.is_superuser or user.is_staff %}
    <div class="container">
      <div class="col-md-1  bg-primary-subtle">
        <a href="/admin">
          <button type="submit" class="btn btn-outline-info w-100">
            admin
          </button>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}