{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% block title %}
  Аксессуары
{% endblock %}
{% block content %}
  {% for message in messages %}
  	{{ message }}
  {% endfor %}
  
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card w-75 mx-auto text-center border-secondary-subtle">
        <h4 class="card-header bg-success-subtle">Добавить аксессуары</h4>
        <ul class="list-group list-group-flush">
          <form action="" method="post">
            {% csrf_token %}
            <li class="list-group-item">{{ form | crispy }}</li>
            	
            
{#            <li class="list-group-item">{{ form | crispy }}</li>#}
            <button type="submit" class="btn card-footer btn-primary bg-info
">Добавить
            </button>
          </form>

        </ul>

      </div>
    </div>
  </div>
  

  
{% endblock %}