{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% block title %}
  Редактировать карту гостя
{% endblock %}
{% block content %}
  {% for message in messages %}
  	{{ message }}
  {% endfor %}
  
  <div class="row">
  {{ object }}
    <div class="col-md-4 col-xl-3">
      <div class="card w-75 mx-auto text-center border-secondary-subtle">
        <h4 class="card-header bg-success-subtle">Редактировать</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ object.ful_name }}</li>
          <li class="list-group-item">{{ object.phone }}</li>
          <li class="list-group-item">Заезд: {{ object.start }}</li>
          <li class="list-group-item">Выезд: {{ object.end }}</li>
          <form action="" method="post">
            {% csrf_token %}
            <li class="list-group-item">{{ form | crispy }}</li>
            <button type="submit" class="btn card-footer btn-primary bg-info
">Применить
            </button>
          </form>

          <li class="list-group-item">Комментарий - {{ object.comment }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}